/*Citizen Bike eCommerce CSS*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f4ef;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', serif;
}

nav {
  height: 100px;
  padding: 20px;
  font-size: 20px;
  margin: 0 auto;
}

.bike-logo {
  position: relative;
  bottom: 30px;
}

.phone-number {
  position: relative;
  color: white;
  right: 25px;
  top: 15px;
}

.phone {
  right: 35px;
  top: 10px;
  color: white;
}

.cart{
  bottom: 8px;
}

.bike-title {
  text-align: center;
  top: 15px;
  position: relative;
}

i.fa.fa-bicycle {
  font-size: 20px;
}

.frame {
  margin-left: 55px;
}

.speed {
  position: relative;
  left: 148px;
  bottom: 28px;
}

.weight {
  position: relative;
  left: 250px;
  bottom: 56px;
}

.price {
  position: relative;
  left: 339px;
  bottom: 84px;
}

button {
  position: absolute;
  bottom: 85px;
  left: 424px;
}

footer {
  height: 52px;
  background-color: #033c73;
  border-color: #022f5a;
}  

footer p {
  margin-left: 100px;
  padding: 15px;
  color: white;
}   

footer p a {
  color: white;
}
