/*Citizen Bike eCommerce CSS*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f4ef;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', serif;
}

nav {
  height: 100px;
  padding: 20px;
  font-size: 20px;
  margin: 0 auto;
}

.bike-logo {
  position: relative;
  bottom: 30px;
}

.call {
  position: relative;
  right: 120px;
}
